{% extends 'shop/product_list.html' %}

{% block table %}

<table class="table">
<thead>
    <tr>
        <th>№</th>
        <th>Product</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
</thead>
<tbody>
    {% for product in filter.qs %}
    <tr>
        <th><a href="{% url 'product-detail' product.id %}">{{product.id}}</a></th>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}